<nav class="bg-blue-500 text-white" id="nav">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-content-between items-center h-16">
            <div class="flex w-5 justify-content-between">
                <div class="flex align-items-center ">
                    <a class="text-lg font-semibold text-white no-underline hover:text-yellow-500"
                        [routerLink]="['/']">Mahendra</a>
                </div>
                <div class="hidden md:flex space-x-6 align-items-center ">
                    <a class="hover:underline no-underline hover:text-orange-700 text-white px-2 py-1"
                        [routerLink]="['/home']" routerLinkActive="active">Home</a>
                    <a class="hover:underline no-underline hover:text-orange-700 text-white px-2 py-1"
                        [routerLink]="['/about']" routerLinkActive="active">About</a>
                    <a class="hover:underline no-underline hover:text-orange-700 text-white px-2 py-1"
                        [routerLink]="['/services']" routerLinkActive="active">Services</a>
                    <a class="hover:underline no-underline hover:text-orange-700 text-white px-2 py-1"
                        [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
                </div>
            </div>

            <div class="hidden md:flex space-x-6 align-items-center ">
                <a class="hover:underline no-underline hover:text-orange-700 text-white px-2 py-1"
                    [routerLink]="['/login']" routerLinkActive="active">Login</a>
                <a class="hover:underline no-underline hover:text-orange-700 text-white px-2 py-1"
                    [routerLink]="['/register/2']" routerLinkActive="active">Sign Up</a>
            </div>

            <div class="flex md:hidden align-items-center">
                <button (click)="toggleNavbar()" class="text-dark focus:outline-none p-2">
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
            </div>

        </div>
    </div>

    <div *ngIf="isNavbarOpen" class="md:hidden bg-blue-400 p-5 ">
        <a class="block px-4 py-3 hover:bg-blue-600 hover:underline no-underline hover:text-orange-700 text-white"
            [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a class="block px-4 py-3 hover:bg-blue-600 hover:underline no-underline hover:text-orange-700 text-white"
            [routerLink]="['/about']" routerLinkActive="active">About</a>
        <a class="block px-4 py-3 hover:bg-blue-600 hover:underline no-underline hover:text-orange-700 text-white"
            [routerLink]="['/services']" routerLinkActive="active">Services</a>
        <a class="block px-4 py-3 hover:bg-blue-600 hover:underline no-underline hover:text-orange-700 text-white"
            [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
        <a class="block px-4 py-3 hover:bg-blue-600 hover:underline no-underline hover:text-orange-700 text-white"
            [routerLink]="['/login']" routerLinkActive="active">Login</a>
        <a class="block px-4 py-3 hover:bg-blue-600 hover:underline no-underline hover:text-orange-700 text-white"
            [routerLink]="['/register/2']" routerLinkActive="active">Sign Up</a>
    </div>
</nav>