/* You can add global styles to this file, and also import other style files */
.active {
    background-color: rgba(227, 110, 27, 0.568);
    border-radius: 4px;
}

body {
    margin: 0px;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.blurred {
    position: fixed;
    filter: blur(4px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Transparent dark background */
    z-index: 1000;
    /* Ensure it overlays other content */
}

.p-inputtext {
    padding: 0.5rem 0.5rem;
}


.p-radiobutton-box.p-highlight .p-radiobutton-icon {
    transform: translateZ(0) scale(0.5, 0.5);
    visibility: visible;
}


.p-radiobutton .p-radiobutton-box {
    border: 2px solid #ced4da;
    width: 14px;
    height: 14px;
}

.myp-radiobutton {
    display: inline-flex;
    vertical-align: unset;
    align-items: unset;
}

.p-toast {
    position: fixed;
    width: 20rem !important;
}

.p-toast-top-center {
    top: 70px !important;
    left: 50%;
    transform: translate(-50%);
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    margin: 0.2rem 0 0 0;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    font-size: 1rem;
}

.pi {
    font-family: 'primeicons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 2;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p-component {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.9rem;
    font-weight: normal;
}

/* if you uncomment this then blur effect will not be applied to the nav bar 
#nav {
    position: fixed;
    width: 100%;
    z-index: 1200;
    top: 0px;
}

.content {
    position: fixed;
    width: 100%;
    top: 40px;
} 
 */